<?xml version="1.0"?>
<appSettings>
  <!--Application wide common settings applicable to all environment - Dev/Qa/UAT etc ====================================================================================-->
  <!-- Error Handler Settings -->
  <add key="MaxiSizeOfAnyDimensionOfThumbnailImage" value="40" />
  <add key="UserAgentIgnore" value="googlebot;crawler;slurp;msnbot;twiceler" />
  <add key="URLIgnorePhrases" value=".png;.jpg;.jpeg;.gif;.bmp" />
  <!--Performance-->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="enableSimpleMembership" value="true"/>
  <add key="CacheTime" value="60"/>
  <!--BidManagement-->
  <add key="UserURL" value="Admin/User/EditUser?q=[userrefkeys]"/>
  <add key="InviteBidURL" value="bid/submitBid?q=[refkeys]"/>
  <add key="MappingXMLPath" value="~/AuthResources/Mapping.xml"/>
  <!--Other-->
  <add key="QueryStringEncrypDecrypkey" value="jdsg432387#"/>
  <add key="CombresSectionName" value="combres" />
  <add key="CommandTimeout" value="600" />
  <add key="FunctionalAreaImagePath" value="/Images/FunctionalDeptImages/"/>
  <add key="BlobImageContainer" value="/photos/" />
  <!--<add key="QRCodeAPiKey" value="51a038d6ce4d4a6bfbd1d60df0d1cfcf" />-->
  <!--<add key="QRCodeAPiKey" value="d4ab7642f04c07ce98caa4e8679d7c67" />-->
  <add key="QRCodeAPiKey" value="69291deb5d2bdad65f8ec59041545452" />

  <!--SupportDesk-->
  <add key="generalEmailID" value=""/>
  <add key="TechnicalEmailID" value="" />
  <add key="OdmsEmailID" value="" />
  <add key="FunctionalEmailID" value=""/>
  <add key="BrandEmailID" value="" />
  <add key="OperationEmailID" value=""/>
  <add key="OperationSkypeID" value="" />
  <add key="GeneericSkypeID" value="" />
  <add key="TechSkypeID" value=""/>
  <add key="OdmsSkypeID" value="" />
  <add key="FunSkypeID" value=""/>
  <add key="BrandSkypeID" value="" />
  <add key="MaxiSizeOfAnyDimensionOfThumbnailLogoImage" value="400" />
  <add key="LogoHeight" value="63" />
  <add key="LogoWidth" value="157" />
  <add key="BrandWidth" value="70" />

  <!-- Email Configuration -->
  <add key="smtpServer" value="smtp.gmail.com" />
  <add key="smtpUsername" value="dptest6549@gmail.com" />
  <add key="smtpPort" value="587" />
  <!--<add key="smtpUsername" value="shreya.garhwal@diaspark.com" />-->
  <add key="smtpPassword" value="Di@spark@4" />
  <add key="IsSecure" value="true"/>
  <add key="smtpBccUsername" value="anurag.jain@diaspark.com;" />
  <add key="numberOfAttachment" value="2" />
  <add key="sizeOfAttachment" value="200" />
  <add key="messageSize" value="100000" />

  <!-- Email Sending delay response if busy 
        If not receives a response in specified mili seconds time,
        then, it will skip the email sending.
  -->
  <add key="EmailMutexDelay" value="10000" />
  <add key="EmailRepeatAttemptDelay" value="1000" />
  <!-- Try sending mail again after the delay (miliseconds) -->
  <add key="EmailRepeatCount" value="3" />

  <add key="MatterUpdateEmail" value="anurag.jain@diaspark.com" />
  <!-- local-0, QA-1, UAT-2 -->
  <add key="Environment" value="1" />
  <add key="SendMail" value="false" />
  <add key="Email" value="pankaj.rambadia@diaspark.com" />
  <add key="VAT" value="0.14" />
  <!--document size for invoice & credit note-->
  <add key="DocsSize" value="10" />
  <add key="InvoiceTotal" value="1.14" />
  <add key="AllowEMail" value="true" />
  <!-- Set cookie expiration interval of 7 days for Remember Me functionality -->
  <add key="cookieExpirationInterval" value="7"/>
  <add key="ApplicationUrl" value="http://mattermanagement.com/"/>

  <!-- Domain name of email for peoplepicker entry -->
  <add key="DomainsForPeoplePicker" value="@angloamerican.com,@debeersgroup.com"/>
  <add key="ReportServerURL" value="http://exigentdb14/ReportServer_SQLEXPRESS/" />
  <add key="ReportFolder" value="/CI-Global_Dev_Reports/" />

  <add key="ReportUser" value="test" />
  <add key="ReportPassword" value="diaspark" />
  <add key="ReportDomain" value="diasparkindia0" />

  <!-- Set two factor authentication functionality on/off-->
  <add key="IsTwoFactorAuthentication" value="false"/>
  <!-- Set OTP expiration interval of 15 minutes for two factor authentication functionality -->
  <add key="OTPExpirationInterval" value="15"/>

  <add key="SpendTrendYear" value="2012"></add>
  <add key="speedometerMaxValue" value="180"></add>
  <add key="ExigentDBEntities" value="data source=192.168.100.57;initial catalog=ChameleonInform;integrated security=false;persist security info=True;User ID=exigent;Password=exigent;Enlist=false;" />
  <add key="POUploadAllowedExtension" value="msg"></add>
  <add key="POSubmitEmailPath" value="InstructionEmail"></add>

  <add key="CurrencyConverterApiAccessKey" value="79aa8fb110842f70331b4d0240281365"></add>
  <add key="CurrencyConverterApiUrl" value="http://apilayer.net/api/convert?"></add>
  <add key="DollarSymbol" value="$"></add>
</appSettings>

