<?xml version="1.0"?>
<appSettings>
  <add key="AcceptableInvalidPasswordAttempts" value="6" />
  <add key="AccountLockMinutes" value="1" />
  <add key="PasswordExpiryDaysCount" value="180" />
  <add key="PasswordExpiryPriorNotificationDays" value="14" />
  <add key="NoOfLastNonreUsablePasswords" value="6" />
  <add key="DiasparkMailServer" value="diaspark-com.mail.protection.outlook.com" />

</appSettings>