
@{
    ViewBag.Title = "UnderConstruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bodyPart">
    <div class="GridContainer">
        <div id="test1" class="col s12">
            <div class="GridContainer">
                <div class="underConstn">
                    <p><i class="material-icons dp48 successIcon">business</i> Page under construction!</p>
                </div>
            </div>
        </div>
    </div>
</div>
 
   


