
@{
    ViewBag.Title = "URLExpired";
    Layout = "~/Views/Shared/_LayoutWithoutLogin.cshtml";

}
<nav class="navBg">
    <div class="forgetLogo"> <img src="~/Content/materialize/images/login-logo.png" /></div>
</nav>
<div class="container bodyPart">
    <h1 class="center">

        This link has expired.
    </h1>
    </div>
