<nav class="navBg">
    <div class="forgetLogo"><img src="~/Content/materialize/images/logo.png" /></div>
</nav>
<div class="container bodyPart">
    <div class="GridContainer center-align">
        <h2 class="woops">WHOOPS!</h2>
        <h1 class="errorHeading">404</h1>
        <p>The page you are looking for doesn't exist.</p>
        <!--  <a class="waves-effect waves-light btn btnSmallCustom" href="#">Go Back</a>-->
    </div>
</div>