<nav class="navBg">
    <div class="forgetLogo"><img src="~/Content/materialize/images/logo.png" /></div>
</nav>
<div class="container bodyPart">
<div class="GridContainer center-align">
    <h1 class="errorHeading">500</h1>
    <h2 class="woops">Unexpected Error</h2>

    <p>An error occured and your request couldn't be completed. Please try again.</p>
</div>

</div>
