@model Exigent_ViewModels.Admin.ChangePasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutWithoutLogin.cshtml";
}

<body>
    <nav class="navBg">
        <div class="forgetLogo"> <img src="~/Content/materialize/images/login-logo.png" /></div>
    </nav>
    <div class="container bodyPart">
        <div id="successMsg" class="GridContainer successMsg" style="display:none">
            <i class="material-icons dp48 fontIcon successIcon">done</i> Password Reset Successfully

            <div class="row">
                <div class="input-field col s12">
                    <a class="absMiddleForget hoverColor" href="@Url.Action("Index","Login")">Click to login</a>
                </div>
            </div>
        </div>
        <div class="GridContainer" id="passwordReset">
            <h1 class="center">

                Reset Password
            </h1>
            @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @id = "resetpasswordForm", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_ChangePasswordPartial", Model)
            }
        </div>
    </div>
</body>

<script>
    $(document).ready(function (e) {
        var HasPasswordReset = "@Model.HasPasswordReset"
        if (HasPasswordReset != null && (HasPasswordReset == true || HasPasswordReset == "True")) {
            $('#passwordReset').fadeOut('fast');
            $('#successMsg').fadeIn('fast');
        }

    });
</script>

