@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWithoutLogin.cshtml";
}

<div class="wrapper-index">
    <!--section started -->
    <section>
        <div>
            <div class="container">
                <div class="mrg80-B"></div>

                <div class="row">
                    <div class="col-md-2 col-sm-3">
                        <div class="text-center"><img src="/images/Layout/ico-warnning.png" alt="Warnning icon" /></div>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <div class="pd10-LR">
                            <div class="f-maroon fs30 f-proxima-B pd5-T">Site is under maintainance. Please try by @DateTime.Now.AddDays(1).ToString("MM/dd/yyyy"). You can also contact <a href="#">Admin. </a></div>
                        </div>
                    </div>
                </div>

                <div class="mrg80-B"></div>

            </div>


        </div>
    </section>
    <!--section box end -->

</div>

